[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	external = difft
	tool = difft
[alias]
	co = checkout
	st = status
	ci = commit
	rs = restore
	d = diff
[push]
	autoSetupRemote = true
